{% load static %}
<div class="row">
    <div class="col-2">
        <h1>Experience shopping reimagined <br>  where selection meets simplicity.</h1>
        <p>Welcome to our online marketplace, where convenience meets quality. Discover a curated selection of products, hassle-free shopping, and exceptional customer service <br> 
            Experience the future of retail with us.</p>

    </div>
    <div class="col-2">
        <img class="mb" src="{% static 'images/display.jpg' %}">
    </div>
  
</div>