{% load static %}


<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">FEATURED PRODUCTS</h2>
    <div class="menu">
        {% for product in featured_products %}
        <div class="col-4">
            <a href="{% url 'detail_product' product.id %}"><img src="{{product.image.url}}"></a>
            <h4>{{product.title}}</h4>

            <p class="cost"> &#8377;{{ product.price}}</p>
        </div>
     {% endfor%}
    </div>
    <h2 class="title">LATEST PRODUCTS</h2>
    <div class="menu">
        {% for product in latest_products %}
        <div class="col-4">
            <a href="{% url 'detail_product' product.id %}"><img src="{{product.image.url}}"></a>
            <h4>{{product.title}}</h4>
          
          
            <p class="cost"> &#8377;{{ product.price}}</p>
        </div>
     {% endfor%}
    </div>

</div>